.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  border: 10px solid red;
  height: 100%;
  align-items: center;
}

.button {
  text-align: center;
  margin: 3px 3px;
  width: 10%;
  height: 10%;
}

.homeImage {
  height: 400px;
}

.loginForm {
  text-align: left;
  display: flex;
  flex-direction: column;
  width: 10%;
  padding: 3px;
}