* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html,
body,
#root {
  background-color: #dedede;
  height: 100vh;
}

.sidebar {
  width: 240px;
  height: 94%;
  background: #091222;
  transition: all 0.5s ease;
}

header {
  padding: 0 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6%;
  text-align: left;
  background: #091222;
  user-select: none;
  border-bottom: 1px solid #8494a3;
}

.sidebar a {
  display: block;
  height: 65px;
  width: 100%;
  color: #ffffff;
  line-height: 65px;
  padding-left: 30px;
  box-sizing: border-box;
  border-bottom: 1px solid #8494a3; /* rgba(255, 255, 255, 0.1); */
  /* border-top: 1px solid #091222;   rgba(255, 255, 255, 0.1); */
  border-left: 5px solid transparent;
  transition: all 0.5s ease;
}

a:hover {
  border-left: 5px solid #18315b;
  color: #18315b;
}

.sidebar a i {
  font-size: 28px;
  margin-right: 16px;
}

.sidebar a span {
  letter-spacing: 1px;
  text-transform: uppercase;
}

#check {
  display: none;
}

.btn {
  cursor: pointer;
  color: #cfd3d6;
  background-color: inherit;
  border: none;
  height: 30px;
  width: 30px;
  text-align: center;
}

@media (max-width: 860px) {
  .sidebar {
    height: auto;
    width: 70px;
    left: 0;
    margin: 100px 0;
  }

  span {
    position: absolute;
    margin-left: 23px;
    opacity: 0;
    visibility: hidden;
  }

  .sidebar a {
    height: 60px;
  }

  .sidebar a i {
    margin-left: -10px;
  }

  a:hover {
    width: 200px;
    background: inherit;
  }

  .sidebar a:hover span {
    opacity: 1;
    visibility: visible;
  }
}
