.sidebar {
    width: 240px;
    left: -240px;
    height: 100%;
    background: black;
    transition: all .5s ease;
}

.sidebar header {
    font-size: 28px;
    color: white;
    line-height: 70px;
    text-align: center;
    background: black;
    user-select: none;
}

.sidebar a {
    display: block;
    height: 65px;
    width: 100%;
    color: white;
    line-height: 65px;
    padding-left: 30px;
    box-sizing: border-box;
    border-bottom: 1px solid black;
    border-top: 1px solid rgba(255, 255, 255, .1);
    border-left: 5px solid transparent;
    transition: all .5s ease;
}

.sidebar a span {
    letter-spacing: 1px;
    text-transform: uppercase;
}